/* Additional styles */
.sidebar-open {
  transform: translateX(0);
  padding-top: 83px;
}

.sidebar-closed {
  transform: translateX(-100%);
}

.transition-transform {
  transition: transform 0.3s ease;
}

.duration-300 {
    padding-top: 80px !important;
}